.task-executor {
  min-height: 400px;
}

.regular-input {
  input{
    padding: 0.4em 0.5em;
    width: 100%;
  }
  padding-right: 20px;
}

button {
  padding: .65em 1em;
}

.source-item {
  border-bottom: 1px dashed #ddd;
  padding-left: 10px;
}

.sources {
  margin-bottom: 15px;
}
