<div class="task-executor">
  <div class="grid-x">
    <div class="cell header">Test string</div>
    <div class="cell sources" *ngIf="task">
      <div class="cell source-item" *ngFor="let source of task.sources">
        <span>{{source}}</span>
      </div>
    </div>
    <div class="cell sources" *ngIf="!task">
      <textarea rows="3"></textarea>
    </div>
    <div class="cell header">Regex</div>
    <div class="cell">
      <div class="grid-x">
        <div class="cell auto regular-input">
          <input placeholder="input regex">
        </div>
        <div class="cell auto regular-input" *ngIf="task && task.type=='REPLACE'">
          <input placeholder="replace to">
        </div>
        <div class="cell shrink">
          <button type="button" class="success button expanded">Execute</button>
        </div>
      </div>
    </div>
    <div class="cell header">Output</div>
    <div class="cell">
      <textarea class="test-output" rows="6" readonly></textarea>
    </div>
  </div>
</div>
