<div class="task-executor">
  <div class="grid-x">
    <div class="cell header">Test string</div>
    <div class="cell">
      <textarea class="test-source" rows="4"></textarea>
    </div>
    <div class="cell header">Regex</div>
    <div class="cell">
      <div class="grid-x">
        <div class="cell auto regular-input">
          <input>
        </div>
        <div class="cell shrink">
          <button type="button" class="success button expanded">Execute</button>
        </div>
      </div>
    </div>
    <div class="cell header">Output</div>
    <div class="cell">
      <textarea class="test-output" rows="6" readonly></textarea>
    </div>
  </div>
</div>
