<div class="grid-container full">
  <div class="grid-y medium-grid-frame">
    <div class="cell header">
      <a>Awesome regex online</a>
    </div>
    <div class="cell medium-auto medium-cell-block-container">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-2 medium-cell-block-y">
          <app-task-list></app-task-list>
        </div>
        <div class="cell medium-6 medium-cell-block-y">
          <app-task-executor></app-task-executor>
        </div>
        <div class="cell medium-4 medium-cell-block-y">
          <app-task-description></app-task-description>
        </div>
      </div>
    </div>
  </div>

</div>
