.task-executor {
  min-height: 400px;

  .header {
    color: #344f71;
    font-weight: 700;
    border-bottom: 1px solid #344f71;
    margin-bottom: 5px;
  }
}

.regular-input {
  input{
    padding: 0.4em 0.5em;
    width: 100%;
  }
  padding-right: 20px;
}

button {
  padding: .65em 1em;
}
