<div class="grid-x">
  <div class="cell result-item"
       *ngFor="let result of matchResults"
       [ngClass]="{'match-success': matchSuccess(result), 'match-failed': matchFailed(result)}"
  >
    <span *ngIf="!result.groups && !result.replaced">{{result.source}}</span>
    <div class="grid-x" *ngIf="result.groups">
      <div class="cell" *ngFor="let group of result.groups">
        <p class="group-mark" [innerHTML]="group | safeHtml"></p>
      </div>
    </div>
    <span *ngIf="result.replaced">{{result.replaced}}</span>
  </div>
</div>
